

.img-box {
    width: 90%;
}

.text-box {
    background-color: #5A6199;
    color: white;
    width: 90%;
    margin-top: 30px;
    border-radius: 20px;
    padding: 15px;
}



#img_procurando {
    width: 450px;
    padding-top: 50px;
}




