#logoNav {
    width: 60px;
    align-items: flex-start;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav {
    border-bottom: solid 1px black;
}

ul a {
    color: black;
    font-size: 20px;
}

.active {
    color: #FCC046;
    font-weight: bold;

}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}